/* ------------------------------- GENERAL SETTINGS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Verdana', sans-serif;
    display: flex;
    flex-direction: column;
}


a {
    text-decoration: none;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    padding: 12px 28px;
    color: white;
    font-weight: 900;
    font-size: 14px;
    border: none;
    border-radius: 8px;
}

/* ------------------------------- HERO SECTION */

.hero {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
    padding: 24px;
}

.header h1 {
    font-size: 24px;
    color: #f9faf8;
}

.header ul {
    display: flex;
    list-style: none;
}

.header ul li a, .main p {
    font-size: 18px;
    color: #e5e7eb;
}

.header ul li {
    margin-left: 16px;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 450px;
    margin: 0px 100px;
    padding: 24px;
}

.main-left {
    width: 450px;
}

.main h2 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.main p {
    margin-bottom: 8px;
}

/* ------------------------------- BOXES SECTION */

.boxes-section {
    padding: 50px;
    margin: 0px 100px;
    text-align: center;
}

.boxes-section h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 24px;
}

.boxes {
    display: flex;
    justify-content: center;
    padding: 24px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box p {
    margin: 16px;
}

/* ------------------------------- QUOTE SECTION */

.quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 50px;
    height: 350px;
}

.quote-container {
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote-container p {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
}

.quote-container p:last-of-type {
    align-self: flex-end;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}

/* ------------------------------- CTA SECTION */

.cta-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.cta {
    padding: 34px 80px;
    background-color: #3882f6;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    color: #e5e7eb;
    gap: 34px;
}

.cta button {
    border: 2px solid #e5e7eb;
}

/* ------------------------------- FOOTER */

.footer {
    background-color: #1f2937;
    height: 75px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}